  /* Datepicker */
  .cab-modern-form .col.form-control {
    margin-left: 12px;
    text-align: left;
  }
  
  .cab-modern-form input {
    color: #a7a7a7;
    border: 0;
    padding: 0;
  }

  
  .cab-modern-form input:focus-visible {
    outline: 0;
  }


  /* 
  tab items
  
  */
  li.nav-item:hover {
    cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000000;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}


