  /* Datepicker */
  .cab-modern-form .col.form-control {
    margin-left: 12px;
    text-align: left;
  }
  
  .cab-modern-form input {
    color: #a7a7a7;
    border: 0;
    padding: 0;
  }

  
  .cab-modern-form input:focus-visible {
    outline: 0;
  }


  /* 
  tab items
  
  */
  li.nav-item:hover {
    cursor: pointer;
}