.callTo{
   background-color: #fff !important;
}

.callTo1{
    z-index: 800000;
    position: fixed;
    bottom: 14px;
}

.call2{
    color:#ef3f3e;
}

.slide{
    background: #fff;
    border-radius: 50px;
    display: flex;
    overflow: hidden;
    position: fixed;
    transition: all .3s ease-in-out;
    z-index: 80000;
}